<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="albums" [class.activated]="currentUrl == '/albums'">
        <i class="material-icons">insert_photo</i>
      </a>
    </li>
    <li>
      <a routerLink="add-user" [class.activated]="currentUrl == '/add-user'">
        <i class="material-icons">add_circle_outline</i>
      </a>
    </li>
    <li>
      <a routerLink="graphs" [class.activated]="currentUrl == '/graphs'">
        <i class="material-icons">graphic_eq</i>
      </a>
    </li>
    <li>
        <a routerLink="data-table" [class.activated]="currentUrl == '/data-table'">
          <i class="material-icons">vertical_split</i>
        </a>
      </li>
  </ul>
</nav>