/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
body {
    margin: 0;
    background: #f2f2f2;
    font-family: 'Arial';
    height: 100vh;
}
h1 {
    color: #00a8ff;
}
#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100vh;
    
    #content {

        #data-container {

            padding: 30px 50px;
        
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    background: #fff;
                    border-radius: 8px;
                    padding: 10px 20px;
                    margin-bottom: 10px;

                    a {
                        font-size: 1.5em;
                        text-decoration: none;
                        font-weight: bold;
                        color: #00A8FF;
                    }

                    ul {
                        margin-top: 10px;

                        li {
                            padding: 0;

                            a {
                                font-size: 1em;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}